<div class="page-header">
  <h1>Latest Statuses <small>If I were king for a day...</small></h1>
</div>

<% @statuses.each do |status| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= status.name %> <small><%= link_to time_ago_in_words(status.created_at) + " ago", status %></small></h3>
    </div>
    <div class="panel-body">
      <%= status.content %>
      <span class="admin">
        <%= link_to "edit", edit_status_path(status) %> | 
        <%= link_to "delete", status, method: :delete, data: {confirm:"Sure you wanna delete?"} %>
      </span>
    </div>
  </div>
<% end %>

<%= link_to new_status_path do %><button type="button" class="btn btn-warning">Add a Status</button><% end %>